body{
    background-image: linear-gradient(to bottom right, rgb(0, 255, 251), rgb(0, 255, 166));
}

.heading{
    width: 70%;
    font-size: 30px;
}

#camera{
    border: 5px dashed hsl(241, 83%, 58%);
    padding: 5px;
    width: 500px;
    height: 400px;
}